#interface, .interface {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr auto;
	grid-template-areas: "header header" "main settings" "footer footer";
	& > header, & > footer {
		padding: .5em .5em;
		background-color: hsl(var(--h), var(--s), 30%);
		color: hsl(var(--h), var(--s), 100%);
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		grid-area: header;
	}
	& > nav {
		// background-color: hsl(var(--h), var(--s), 35%);
		color: hsl(var(--h), var(--s), 100%);
		grid-area: header;
		place-self: center end;
		margin: 0 .5em;
	}
	& > main {
		grid-area: main;
	}
	& > footer {
		order: 1000;
		grid-area: footer;
		img {
			height: 1.5em;
			filter: grayscale(1) brightness(1) invert(1);
			mix-blend-mode: lighten;
		}
	}
}
