.maze {
	max-width: 500px;
	max-height: 500px;
}
.corner {
	fill-opacity: 1;
	stroke: black;
	stroke-width: 0;
	&.wall-end {
		fill: #fff0;
		// stroke-width: 2;
		// stroke: #f00;
	}
}
.wall {
	stroke-width: 2;
	stroke: #000;
	&.open {
		stroke: #f000;
	}
	&.tunnel {
		stroke-width: 3;
		stroke-opacity: .9;
	}
	// &.wall-end {
	// 	stroke: #0f0f;
	// }
}
.cell {
	fill: #000;
	stroke-width: 1;
	// stroke: #ff0;
	&.visited {
		fill: #0f00;
		
	}
	&.corridor {
		fill: #f0f8;
	}
	&.dead-end {
		fill: #f003;
	}
	&.intersection {
		fill: #ff0;
	}
}
