.maze {
	max-width: 500px;
	max-height: 500px;
}
.corner {
	fill-opacity: 1;
	stroke: black;
	stroke-width: 0;
	&.wall-end {
		fill: #fff0;
		// stroke-width: 2;
		// stroke: #f00;
	}
}
.wall {
	stroke-width: .3;
	stroke: #000;
	stroke-opacity: .3;
	fill: transparent;
	&.open {
		stroke: #f000;
	}
}
.cell {
	// fill: #000;
	stroke-width: 1;
	// stroke: #ff0;
	&.visited {
		fill: #0f00;
		
	}
	&.corridor {
		fill: #f0f8;
	}
	&.dead-end {
		fill: #f003;
	}
	&.intersection {
		fill: #ff0;
	}
}
