.corner {
	fill-opacity: 1;
	&.dead-end {
		fill: #fff0;
		// stroke-width: 2;
		// stroke: #f00;
	}
}
.wall {
	stroke-width: 2;
	stroke: #000f;
	&.open {
		stroke: #f000;
	}
	// &.dead-end {
	// 	stroke: #0f0f;
	// }
}
.cell {
	fill: #f006;
	stroke-width: 1;
	// stroke: #ff0;
	&.visited {
		fill: #0f00;

	}
}