/*
Playful and Casual:
Font 1 (Heading): Luckiest Guy
Font 2 (Subheading): Pacifico
Font 3 (Body): Nunito Sans
*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Pacifico&family=Nunito+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
:root {
  --font-heading: "Luckiest Guy", cursive;
  --font-subheading: "Pacifico", cursive;
  --font-body: "Nunito Sans", sans-serif;
}

:root {
  --h: 60;
  --s: 25%;
  --l: 50%;
  --font-family: "Roboto", sans-serif;
  --font-titre: "Roboto Slab", serif;
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: var(--font-body);
}

body {
  height: 100%;
  background-color: hsl(60, 25%, 95%);
  color: hsl(60, 25%, 15%);
}

h1,
h3,
.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1;
}

h2,
h4,
th,
legend,
caption,
label,
figcaption,
.subheading {
  font-family: var(--font-subheading);
  font-weight: 400;
  line-height: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#interface, .interface {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: "header header" "main settings" "footer footer";
}
#interface > header, #interface > footer, .interface > header, .interface > footer {
  padding: 0.5em 0.5em;
  background-color: hsl(var(--h), var(--s), 30%);
  color: hsl(var(--h), var(--s), 100%);
  display: flex;
  justify-content: space-between;
}
#interface > header, .interface > header {
  order: -1000;
  grid-area: header;
}
#interface > nav, .interface > nav {
  color: hsl(var(--h), var(--s), 100%);
  grid-area: header;
  place-self: center end;
  margin: 0 0.5em;
}
#interface > main, .interface > main {
  grid-area: main;
}
#interface > footer, .interface > footer {
  order: 1000;
  grid-area: footer;
}
#interface > footer img, .interface > footer img {
  height: 1.5em;
  filter: grayscale(1) brightness(1) invert(1);
  mix-blend-mode: lighten;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  display: flex;
}
nav ul li a {
  flex-grow: 1;
  display: flex;
  padding: 6px 12px;
}
nav ul li a:hover {
  text-decoration: underline;
  background: hsl(var(--h), var(--s), 15%);
  border-radius: 0.25em;
  color: #fff;
}

#app {
  padding: 1em;
  overflow: hidden;
}

#interface > header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25em;
  font-size: 2em;
}
#interface > header h1 {
  font-size: 1em;
  line-height: 1;
}
#interface > header img {
  height: 1.25em;
  filter: brightness(0) invert(1);
}

#settings {
  grid-area: settings;
  background-color: hsl(60, 25%, 80%);
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25em 0.5em;
  align-content: start;
}
#settings > * {
  grid-column: 1/-1;
}
#settings h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
#settings > div {
  display: grid;
  grid-template: subgrid/subgrid;
}
#settings > div label {
  text-shadow: 0px 1px #fff;
}
#settings > div > :not(label) {
  width: 100%;
}